<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="general">
      <file>tests/ApplicationTest.php</file>
    </testsuite>
    <testsuite name="handlers">
      <file>tests/Reply/IntroductionTest.php</file>
      <file>tests/Reply/BalanceTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>