<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="handlers">
      <file>tests/Reply/IntroductionTest.php</file>
      <file>tests/Reply/RepeatTest.php</file>
      <file>tests/Reply/OrdersTest.php</file>
      <file>tests/Reply/StocksTest.php</file>
    </testsuite>
    <testsuite name="utils">
      <file>tests/DeclensionTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>